<a href="https://colab.research.google.com/github/unitxero/Data_Analysis_MC/blob/main/01_NumPy_Arrays(commented).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# NumPy 

NumPy (or Numpy) is a Pyhton Library or Module design for Linear Algebra and Statistical Computation.
It is one of the most important modules in python for Data Science since most all of the libraries necessary for  rely on NumPy as one of their main building blocks.

Numpy is also incredibly fast, as it has bindings to other programming language libraries such as C++.

_______________________________

## Using NumPy

Once you've installed NumPy you can import it as a library:

In [ ]:
'''
importing the numpy library and assigning it the variable np
'''
import numpy as np

Numpy has many built-in functions and capabilities. We will not have the time to cover them all; we will, however, focus on some of the most important topics such as vectors, arrays, matrices, and number generation. Let's start by discussing arrays.

## Numpy Arrays

NumPy arrays are the main objects that we will use in this class. 

Numpy arrays essentially come in two flavors: vectors and matrices. Vectors are strictly 1-dimensional arrays and matrices are 2-dimensional (but you should note a matrix can still have only one row or one column).

Let's begin our introduction by exploring how to create NumPy arrays.

### Creating NumPy Arrays From a Python List

We can create an array by directly converting a list or list of lists:

In [ ]:
'''
a variable named my_list is created which 
contains a list, and it has 3 elements inside of the list
[1,2,3]
we then call the variable my_list and we see the entire list
'''
my_list = [1,2,3]
my_list

[1, 2, 3]

In [ ]:
'''
the function np.array is called and takes the argument my_list
my_list is then converted into a numpy array.
we now see the list inside the array.
'''
np.array(my_list)

array([1, 2, 3])

In [ ]:
'''
a variable named my_matrix is created
which contains a list, and has 3 lists within it
'''
my_matrix = [[1,2,3],[4,5,6],[7,8,9]]
my_matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
'''
we call the np.array and takes the argument my_matrix
my_matrix is then converted into a numpy array
'''
np.array(my_matrix)

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

## Built-in Methods

There are lots of built-in ways to generate Arrays

### arange

Return evenly spaced values within a given interval.

In [ ]:
'''
the function np.arrange seems to take 2 arguments here
0 and 20, which seems to be inclusive for the first argument, but exclusive 
at the second argument. the range is 0 to 19 (but 20 numbers)
it arranges these numbers in an array, and is stored in a list from 0 to 19
'''
np.arange(0,20)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19])

In [ ]:
'''
The function is taking 3 arguments here, 0,110,2
similar to before, we go from 0 to 110, and have an step of 2
so it goes from 0 to 2, then 2 to 4, so on and so forth until we reach 110.
'''
np.arange(0,110,2)

array([  0,   2,   4,   6,   8,  10,  12,  14,  16,  18,  20,  22,  24,
        26,  28,  30,  32,  34,  36,  38,  40,  42,  44,  46,  48,  50,
        52,  54,  56,  58,  60,  62,  64,  66,  68,  70,  72,  74,  76,
        78,  80,  82,  84,  86,  88,  90,  92,  94,  96,  98, 100, 102,
       104, 106, 108])

### zeros and ones

Generate arrays of zeros or ones

In [ ]:
'''
 np.zeros creates an array of 0's based on the number
 you put in the argument
'''
np.zeros(5)

array([0., 0., 0., 0., 0.])

In [ ]:
'''
 same as above, but now we have a second argument
 we are generating 15 zeros in an array, along with 15 lists.
 15 lists, and each list contains 15 zeros in the array.
'''
np.zeros((15,15))

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [ ]:
'''
np.ones takes an argument and generates ones. 
in this example, 1 is generated 30 times in 1 list
and saved as an array
'''
np.ones(30)

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [ ]:
'''
same as above, except now we have another argument to ones
in this case, we have each list containing one, 30 times.
Then we have 30 lists, with 1's that are generated 30 times
saved to an array
'''
np.ones((30,30))

array([[1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.]])

### linspace
Return evenly spaced numbers over a specified interval.

In [ ]:
'''
this function returns EVENLY spaced numbers over an interval
linspace is taking 3 arguments here
the first arg is the starting number
the second arg is the ending number
the third arg is the specified interval

we have an interval of 5, so we get a 
return of 5 evenly spaced intervals from
0 to 100
'''
np.linspace(0,100,5)

array([  0.,  25.,  50.,  75., 100.])

In [ ]:
'''
similar to above, but in this case we have 50 intervals
in a range of 0 to 10
we return those 50 evenly spaced intervals
'''
np.linspace(0,10,50)

array([ 0.        ,  0.20408163,  0.40816327,  0.6122449 ,  0.81632653,
        1.02040816,  1.2244898 ,  1.42857143,  1.63265306,  1.83673469,
        2.04081633,  2.24489796,  2.44897959,  2.65306122,  2.85714286,
        3.06122449,  3.26530612,  3.46938776,  3.67346939,  3.87755102,
        4.08163265,  4.28571429,  4.48979592,  4.69387755,  4.89795918,
        5.10204082,  5.30612245,  5.51020408,  5.71428571,  5.91836735,
        6.12244898,  6.32653061,  6.53061224,  6.73469388,  6.93877551,
        7.14285714,  7.34693878,  7.55102041,  7.75510204,  7.95918367,
        8.16326531,  8.36734694,  8.57142857,  8.7755102 ,  8.97959184,
        9.18367347,  9.3877551 ,  9.59183673,  9.79591837, 10.        ])

## eye

Creates an identity matrix

In [ ]:
'''
The eye() function is used to create a 2-D array 
with 1's on the diagonal and 0's elsewhere.
'''
np.eye(6)

array([[1., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 1.]])

## Random 

Numpy also has lots of ways to create random number arrays:

### rand
Create an array of the given shape and populate it with
random samples from a uniform distribution
over ``[0, 1)``.

In [ ]:
'''
Creates an array containing 5 random numbers
'''
np.random.rand(5)

array([0.39532853, 0.28767256, 0.63723705, 0.81958848, 0.10552333])

In [ ]:
'''
Creates an array that contains 10 random numbers per list,
and 10 lists within that array
'''
np.random.rand(10,10)

array([[0.75592607, 0.32027948, 0.03774677, 0.51778968, 0.457934  ,
        0.93147896, 0.5319068 , 0.62402026, 0.40365503, 0.67132405],
       [0.88450923, 0.42593345, 0.61866847, 0.48740643, 0.91857095,
        0.30244395, 0.92264687, 0.14247435, 0.01606613, 0.93381843],
       [0.28341242, 0.33066782, 0.313009  , 0.95639412, 0.86752674,
        0.98012814, 0.02840947, 0.28114315, 0.36567471, 0.04502322],
       [0.76821622, 0.70482945, 0.22303135, 0.84708819, 0.53813128,
        0.72475293, 0.50899286, 0.4178185 , 0.14178324, 0.83432446],
       [0.6930306 , 0.2794972 , 0.79093666, 0.68712927, 0.41286361,
        0.09545309, 0.85092   , 0.45825814, 0.09141022, 0.69963027],
       [0.69576628, 0.88624393, 0.12454747, 0.80183198, 0.68566186,
        0.52715625, 0.46118396, 0.47221171, 0.42487931, 0.84994482],
       [0.39593907, 0.69663989, 0.12258968, 0.27626576, 0.77464041,
        0.46521979, 0.41481244, 0.12045694, 0.2333648 , 0.46401901],
       [0.36973058, 0.18989573, 0.85170564, 0.09873524, 0.41089306,
        0.08486238, 0.55655816, 0.8068951 , 0.06172967, 0.04519234],
       [0.02584725, 0.28560997, 0.44454078, 0.7800004 , 0.58403115,
        0.29933226, 0.52362502, 0.51609107, 0.60309614, 0.83858365],
       [0.04281262, 0.85072941, 0.32740522, 0.2546206 , 0.71872113,
        0.73884467, 0.83926018, 0.68733242, 0.25592684, 0.25040905]])

### randn

Return a sample (or samples) from the "standard normal" distribution. Unlike rand which is uniform:

In [ ]:
'''
returns random numbers from 'standard normal' distribution
in this case 20 of the
'''
np.random.randn(20)

array([ 0.15307217, -0.49668995, -0.81589313,  0.21629096, -1.30261164,
       -1.71880462, -1.12814927, -0.61523896, -1.03080909, -1.05664352,
       -0.53076739,  0.37282043,  0.89782094, -0.80127515, -1.25205889,
       -0.59909755,  0.44593657,  0.55894691,  0.05477751, -1.68375432])

In [ ]:
'''
In this function, we are generating random numbers, but 5 random numbers
per list in the array.
'''
np.random.randn(5,5)

array([[-0.44184508,  1.01064116,  1.99833887,  0.21577714, -0.02530655],
       [ 0.27859028,  0.71287888,  0.91119295,  0.82792409,  1.25512526],
       [ 0.78096458, -1.16099471,  0.58783187,  0.61747119, -0.60430031],
       [ 0.29022728, -2.27124336, -0.10400327, -1.31632786,  0.24033699],
       [-1.90967447,  0.67088679, -0.38483304, -3.10878247, -0.24176113]])

### randint
Return random integers from `low` (inclusive) to `high` (exclusive).

In [9]:
'''
Random integers from 1 to 500 are generated, the 1 is inclusive
but the 500 is exclusive
'''
np.random.randint(1,500)

423

In [ ]:
'''
We are generating random integers.
1 is inclusive, and 1000 is exclusive.
So the range is 1 to 999.
We are doing this 100 times
'''
np.random.randint(1,1000,100)

array([447, 851,  24, 114, 687, 189, 619,  42, 947,  43, 107, 351, 484,
       119, 996, 133, 612, 989, 506, 316, 779, 448, 587, 825, 182, 118,
       675, 588, 719, 556, 642,  45, 189, 602,  36, 480, 922, 380, 483,
       854, 371, 465, 253, 228, 450, 497, 207, 598, 783, 531, 234, 758,
       129,  98, 546, 664, 886,  73, 380, 106, 671, 389, 231, 409, 708,
       291, 987, 814, 748, 516, 879, 326, 698, 772, 293, 660, 592, 435,
       467, 616,  81, 423, 500, 898, 369, 405, 518, 573, 987, 860, 953,
       493, 279, 405, 382, 407, 162, 501, 493, 925])

## Array Attributes and Methods

Let's discuss some useful attributes and methods or an array:

In [ ]:
'''
np.arange(50) is creating a numpy array with 50 elements 
from 0 to 49, the argument is exclusive

np.random.randint(0,500,10) is creating a numpy array
with randomly generated integers from 0 to 500
and it is doing this a total of 10 times
'''
arr = np.arange(50)
ranarr = np.random.randint(0,500,10)

In [ ]:
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49])

In [ ]:
ranarr

array([184, 197, 373, 268,  94, 496, 321, 240,   7, 123])

## Reshape
Returns an array containing the same data with a new shape.

In [ ]:
arr.reshape(10,5)

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34],
       [35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44],
       [45, 46, 47, 48, 49]])

### max,min,argmax,argmin

These are useful methods for finding max or min values. Or to find their index locations using argmin or argmax

In [ ]:
ranarr

array([184, 197, 373, 268,  94, 496, 321, 240,   7, 123])

In [ ]:
ranarr.max()

496

In [ ]:
ranarr.argmax()

5

In [ ]:
ranarr.min()

7

In [ ]:
ranarr.argmin()

8

## Shape

Shape is an attribute that arrays have (not a method):

In [ ]:
# Vector
arr.shape

(50,)

In [ ]:
# Notice the two sets of brackets
arr.reshape(2,25)

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15,
        16, 17, 18, 19, 20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40,
        41, 42, 43, 44, 45, 46, 47, 48, 49]])

In [ ]:
arr.reshape(2,25).shape

(2, 25)

In [ ]:
arr.reshape(25,2)

array([[ 0,  1],
       [ 2,  3],
       [ 4,  5],
       [ 6,  7],
       [ 8,  9],
       [10, 11],
       [12, 13],
       [14, 15],
       [16, 17],
       [18, 19],
       [20, 21],
       [22, 23],
       [24, 25],
       [26, 27],
       [28, 29],
       [30, 31],
       [32, 33],
       [34, 35],
       [36, 37],
       [38, 39],
       [40, 41],
       [42, 43],
       [44, 45],
       [46, 47],
       [48, 49]])

In [ ]:
arr.reshape(25,2).shape

(25, 2)

### dtype

You can also grab the data type of the object in the array:

In [ ]:
arr.dtype

dtype('int32')

# Good Times!