<a href="https://colab.research.google.com/github/unitxero/Data_Analysis_MC/blob/main/Day_6_Sport_Dataset_EDA_Group_Work.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# In class Assignment

## Find a sports dataset
## after conducting initial EDA which include and not limited to:
##    1. Change at least two column names and complete at least one broadcast operation
##       (make sure to make a copy of the new version of te dataset once in a while)
## answer questions:
##     1. Who are the highest paid players in the sport
##     2. Who is the most efficent player in that sport
          ## most points scored possibly, or highest salary
##     3. Which is the better team in that sport
##     4. Come up with 5 more questions and answers

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
mlb = pd.read_csv('https://raw.githubusercontent.com/UwzH43ZRx-5S/mlData/main/mlb.csv')

In [ ]:
df_mlb = mlb

In [ ]:
# preview of the data set
# showing the first 5 and last 5 rows
# there are 4 columns 
df_mlb

In [ ]:
# we return a result of 828 rows, in a step of 1
df_mlb.index

RangeIndex(start=0, stop=828, step=1)

In [ ]:
# we return 828 rows and 4 columns
df_mlb.shape

(828, 4)

In [ ]:
df_mlb.rename(columns={'player': 'Player'}, inplace=True)
df_mlb.rename(columns={'team': 'Team'}, inplace=True)
df_mlb['Actual Salary'] = df_mlb['salary'].mul(1000)

In [ ]:
print(df_mlb[['Player', 'salary']][df_mlb.salary == df_mlb['salary'].max()])
#Highest paid player in the MLB at the time was Alex Rodriguez.

             Player   salary
494  Alex Rodriguez  33000.0

In [ ]:
shortstops = df_mlb.loc[df_mlb['position'] == 'Shortstop']
print(shortstops[['Player', 'salary']][shortstops.salary == shortstops['salary'].max()])
#The highest paid shortstop was Derek Jeter.

          Player   salary
496  Derek Jeter  22600.0

In [ ]:
thirdbaseman = df_mlb.loc[df_mlb['position'] == 'Third Baseman']
print(thirdbaseman[['Player', 'salary']][thirdbaseman.salary == thirdbaseman['salary'].max()])
#The highest paid third baseman was Alex Rodriguez.

             Player   salary
494  Alex Rodriguez  33000.0

In [ ]:
catcher = df_mlb.loc[df_mlb['position'] == 'Catcher']
print(catcher[['Player', 'salary']][catcher.salary == catcher['salary'].max()])
#The highest paid catcher was Jorge Posada.

           Player   salary
500  Jorge Posada  13100.0

In [ ]:
pitcher = df_mlb.loc[df_mlb['position'] == 'Pitcher']
print(pitcher[['Player', 'salary']][pitcher.salary == pitcher['salary'].max()])
#The highest paid pitcher was CC Sabathia.

In [ ]:
outfielder = df_mlb.loc[df_mlb['position'] == 'Outfielder']
print(outfielder[['Player', 'salary']][outfielder.salary == outfielder['salary'].max()])
#The highest paid outfielder was Carlos Beltran.

             Player     salary
467  Carlos Beltran  19401.569

In [ ]:
teamy = df_mlb.loc[df_mlb['Team'] == 'Arizona Diamondbacks']
print(teamy[['Player', 'salary']][teamy.salary == teamy['salary'].max()])
#The highest paid player on the Arizona Diamondbacks was Brandon Webb.

         Player  salary
0  Brandon Webb  8500.0

In [ ]:
d = teamsum.groupby(by= ['Team'])
g = d.agg({'salary':"max"})
g.reset_index(inplace=True)
g

                     Team     salary
0    Arizona Diamondbacks   8500.000
1          Atlanta Braves  15000.000
2       Baltimore Orioles  12000.000
3          Boston Red Sox  18700.000
4            Chicago Cubs  19000.000
5       Chicago White Sox  15000.000
6         Cincinnati Reds  12500.000
7       Cleveland Indians  11500.000
8        Colorado Rockies  17775.000
9          Detroit Tigers  20000.000
10        Florida Marlins  10000.000
11         Houston Astros  19000.000
12     Kansas City Royals  12400.000
13    Los Angeles Angeles  18500.000
14    Los Angeles Dodgers  18695.006
15      Milwaukee Brewers  12750.000
16        Minnesota Twins  15000.000
17          New York Mets  20144.707
18       New York Yankees  33000.000
19      Oakland Athletics  12500.000
20  Philadelphia Phillies  19000.000
21     Pittsburgh Pirates   5000.000
22       San Diego Padres   6375.000
23   San Francisco Giants  18500.000
24       Seattle Mariners  18000.000
25    St. Louis Cardinals  16333.327
26         Tampa Bay Rays  10125.000
27          Texas Rangers  13174.974
28      Toronto Blue Jays  15687.500
29   Washington Nationals  12000.000

In [ ]:
print(g[['Team', 'salary']][g.salary == g['salary'].max()])
#The team with the highest earning player was the New York Yankees.

                Team   salary
18  New York Yankees  33000.0