<a href="https://colab.research.google.com/github/unitxero/Data_Analysis_MC/blob/main/Day_3_For_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

For Loops

In [6]:
# looping through the string of CUNY, each letter in the string is an interation
for x in 'CUNY':
  print(x)

C
U
N
Y

In [8]:
# Creating a list of tv shows
tv_shows = ['game of thrones', 'star trek', 'stranger things']

In [9]:
for x in tv_shows:
  print(x)

game of thrones
star trek
stranger things

In [12]:
# let's make the game shows capitalized in the proper location as .title

for show in tv_shows:
  print(f'{show.title()} is one of my fav TV shows')

Game Of Thrones is one of my fav TV shows
Star Trek is one of my fav TV shows
Stranger Things is one of my fav TV shows

In [19]:
# empty var and append it with some fruits
fruits = []

fruits.append('orange')
fruits.append('apple')
fruits.append('kiwi')
fruits.append('banana')
fruits.append('papaya')
fruits.append('pineapple')
fruits.append('mango')
fruits.append('strawberry')
fruits.append('apricot')
fruits.append('pear')

In [20]:
fruits

['orange',
 'apple',
 'kiwi',
 'banana',
 'papaya',
 'pineapple',
 'mango',
 'strawberry',
 'apricot',
 'pear']

In [31]:
for fav_fruit in fruits:
  print(f'My favorite fruit is a {fav_fruit}.')

My favorite fruit is a orange.
My favorite fruit is a apple.
My favorite fruit is a kiwi.
My favorite fruit is a banana.
My favorite fruit is a papaya.
My favorite fruit is a pineapple.
My favorite fruit is a mango.
My favorite fruit is a strawberry.
My favorite fruit is a apricot.
My favorite fruit is a pear.

In [27]:
# append a vegetable that we don't want and then remove it from the list
fruits.append('lettuce')

In [30]:
del fruits[-1]

['orange',
 'apple',
 'kiwi',
 'banana',
 'papaya',
 'pineapple',
 'mango',
 'strawberry',
 'apricot',
 'pear']

In [34]:
# using the range function which is EXCLUSIVE

for x in range(1,21):
  print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
# we can also do some math 
for x in range(1,21):
  print(x+3)

In [35]:
# arranging numbers 1 to 20 using a list
list(range(1, 21))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [36]:
# we can also add a step, where it skips
list(range(1,21,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [37]:
# we can also perform some simple statistics

num = list(range(21,1, -1))

In [40]:
# number of items in num
len(num)

20

In [39]:
# max value in num
max(num)

21

In [41]:
# minimum value in num
min(num)

2

In [ ]:
# sum of values in num
sum(num)

In [42]:
l = [1,2,3,4,5,6,7,8,9,10]

In [43]:
# Modulo gives us the remainder of a division
17 % 2

1

In [44]:
# prints out only even numbers, by dividing num, with 2, and seeing if it has a 
# remainder of 0, which indicates an even number
# after it is found, the even number is printed
for num in l:
  if num % 2 == 0:
    print(num)

2
4
6
8
10

In [45]:
list_2 = [1,2,3,4,5,6,7,8,9,10]

In [52]:
# creating a for loop that prints out odd numbers
# we are checking if it is odd by seeing if when the number is divided by 2,
# it leaves a
# remainder that is not 0.
for num in list_2:
  if num % 2 != 0:
    print(f'{num} is odd, but we accept them how they are :)')

1 is odd, but we accept them how they are :)
3 is odd, but we accept them how they are :)
5 is odd, but we accept them how they are :)
7 is odd, but we accept them how they are :)
9 is odd, but we accept them how they are :)

In [ ]:
#for letter in 'This is a string'

In [54]:
# Adding all the values together in a list to get the sum

listSum = 0

for num in l:
  listSum = listSum + num

print(listSum)

55

In [55]:
dy = {'k1': 1, 'k2': 2, 'k3': 3, 'k4': 4}

In [56]:
# this loop only prints the key of the dictionary
for item in dy:
  print(item)

k1
k2
k3
k4

In [57]:
# this loop prints out the key of the dictionary, 
# and the value
# for key we will use k
# for value we will use v

for k,v in dy.items():
  print(k)
  print(v)

k1
1
k2
2
k3
3
k4
4