<a href="https://colab.research.google.com/github/unitxero/Data_Analysis_MC/blob/main/Day_5_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intro to Pandas

In [14]:
import numpy as np
import pandas as pd
from numpy.random import randn
np.random.seed(42)

In [2]:
# creating a list for labels
# creating a list for my_data
# creating a numpy array out of my_data
# creating a dictionary with values named d
labels = ['a','b','c','d']
my_data = [10, 20 , 30, 40]
arr = np.array(my_data)

# this is the way we regularly make a 'dataframe' 
# but now we will use a pd.Series to create this
d= {'a':10, 'b':20, 'c':30, 'd':40}

In [3]:
# check of dictionary creation
d

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [5]:
# pandas dataframe created from my_data and index used by labels
pd.Series(data = my_data, index = labels)

a    10
b    20
c    30
d    40
dtype: int64

In [ ]:
# Create a series of ten cities and years

In [12]:
cities = ['NYC', 'Orlando','Miami','San Francisco',
          'Los Angeles','Kansas',
          'Chicago', 'San Diego',
          'Boston', 'Richmond'
          ]
years = [2000, 2001, 2002, 2003,
         2004, 2005, 2006, 2007,
         2008, 2009
        ]

pd.Series(data = cities, index = years)

2000              NYC
2001          Orlando
2002            Miami
2003    San Francisco
2004      Los Angeles
2005           Kansas
2006          Chicago
2007        San Diego
2008           Boston
2009         Richmond
dtype: object

In [11]:

pd.Series(data = years, index = cities)

NYC              2000
Orlando          2001
Miami            2002
San Francisco    2003
Los Angeles      2004
Kansas           2005
Chicago          2006
San Diego        2007
Boston           2008
Richmond         2009
dtype: int64

# Data Frames

In [17]:
# in the DataFrame, order is Rows, then Columns
# so pd.DataFrame([data],[rows],[columns])
data = pd.DataFrame(randn(5, 4),
                    ['A', 'B', 'C', 'D', 'E'],
                    ['W', 'X', 'Y', 'Z'])

In [18]:
data

          W         X         Y         Z
A  0.738467  0.171368 -0.115648 -0.301104
B -1.478522 -0.719844 -0.460639  1.057122
C  0.343618 -1.763040  0.324084 -0.385082
D -0.676922  0.611676  1.031000  0.931280
E -0.839218 -0.309212  0.331263  0.975545

In [26]:
# Pulling the Y index from the data frame
df_1 = data['Y']
df_1

A   -0.115648
B   -0.460639
C    0.324084
D    1.031000
E    0.331263
Name: Y, dtype: float64

In [27]:
# Pulling the W index from the data frame
df_2 = data['W']
df_2

A    0.738467
B   -1.478522
C    0.343618
D   -0.676922
E   -0.839218
Name: W, dtype: float64

In [28]:
# Pulling the X index from the data frame
df_3 = data['X']
df_3

A    0.171368
B   -0.719844
C   -1.763040
D    0.611676
E   -0.309212
Name: X, dtype: float64

In [29]:
# Pulling the Z index from the data frame
df_4 = data['Z']
df_4

A   -0.301104
B    1.057122
C   -0.385082
D    0.931280
E    0.975545
Name: Z, dtype: float64

In [31]:
#creating a new column in data, where we add column Y and W together
data['new'] = data['Y'] + data['W']

In [32]:
data

          W         X         Y         Z       new
A  0.738467  0.171368 -0.115648 -0.301104  0.622818
B -1.478522 -0.719844 -0.460639  1.057122 -1.939161
C  0.343618 -1.763040  0.324084 -0.385082  0.667702
D -0.676922  0.611676  1.031000  0.931280  0.354078
E -0.839218 -0.309212  0.331263  0.975545 -0.507954

In [36]:
# creating a new column called even_newer
# we are adding the values of the columns W, Z, X
# the even_newer row A is the sum of row A for W,Z,X
# so on and so forth
data['even_newer'] = data['W'] + data['Z'] + data['X']

In [37]:
data

          W         X         Y         Z       new  even_newer
A  0.738467  0.171368 -0.115648 -0.301104  0.622818    0.608731
B -1.478522 -0.719844 -0.460639  1.057122 -1.939161   -1.141244
C  0.343618 -1.763040  0.324084 -0.385082  0.667702   -1.804504
D -0.676922  0.611676  1.031000  0.931280  0.354078    0.866034
E -0.839218 -0.309212  0.331263  0.975545 -0.507954   -0.172885